@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

@keyframes bounce_right {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0);
    opacity:           0;
		width:             0px;
		height:            30px;
	}
	8% {
    opacity:  1;
		height:            30px;
		width: 						 35px;
		-webkit-transform: translateY(-6px)
                       translateX(+10px);
		-ms-transform:     translateY(-6px)
                       translateX(+10px);
		transform:         translateY(-6px)
                       translateX(+10px);
	}
  10% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0px)
                       translateX(+10px);
		-ms-transform:     translateY(0px)
                       translateX(+10px);
		transform:         translateY(0px)
                       translateX(+10px);
	}
	12% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+10px);
		-ms-transform:     translateY(-3px)
                       translateX(+10px);
		transform:         translateY(-3px)
                       translateX(+10px)
	}
  16% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+10px);
		-ms-transform:     translateY(0)
                       translateX(+10px);
		transform:         translateY(0)
                       translateX(+10px);
	}
	24% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+10px);
		-ms-transform:     translateY(0)
                       translateX(+10px);
		transform:         translateY(0)
                       translateX(+10px);
	}
  31% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-6px)
                       translateX(+20px);
		-ms-transform:     translateY(-6px)
                       translateX(+20px);
		transform:         translateY(-6px)
                       translateX(+20px);
	}
  33% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0px)
                       translateX(+20px);
		-ms-transform:     translateY(0px)
                       translateX(+20px);
		transform:         translateY(0px)
                       translateX(+20px);
	}
	35% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+20px);
		-ms-transform:     translateY(-3px)
                       translateX(+20px);
		transform:         translateY(-3px)
                       translateX(+20px)
	}
  38% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+20px);
		-ms-transform:     translateY(0)
                       translateX(+20px);
		transform:         translateY(0)
                       translateX(+20px);
	}
  46% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-6px)
                       translateX(+30px);
		-ms-transform:     translateY(-6px)
                       translateX(+30px);
		transform:         translateY(-6px)
                       translateX(+30px);
	}
  47% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0px)
                       translateX(+30px);
		-ms-transform:     translateY(0px)
                       translateX(+30px);
		transform:         translateY(0px)
                       translateX(+30px);
	}
	49% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+30px);
		-ms-transform:     translateY(-3px)
                       translateX(+30px);
		transform:         translateY(-3px)
                       translateX(+30px)
	}
  53% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+30px);
		-ms-transform:     translateY(0)
                       translateX(+30px);
		transform:         translateY(0)
                       translateX(+30px);
	}
  60% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-6px)
                       translateX(+40px);
		-ms-transform:     translateY(-6px)
                       translateX(+40px);
		transform:         translateY(-6px)
                       translateX(+40px);
	}
  62% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0px)
                       translateX(+40px);
		-ms-transform:     translateY(0px)
                       translateX(+40px);
		transform:         translateY(0px)
                       translateX(+40px);
	}
	64% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+40px);
		-ms-transform:     translateY(-3px)
                       translateX(+40px);
		transform:         translateY(-3px)
                       translateX(+40px)
	}
  67% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+40px);
		-ms-transform:     translateY(0)
                       translateX(+40px);
		transform:         translateY(0)
                       translateX(+40px);
	}
  74% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-6px)
                       translateX(+50px);
		-ms-transform:     translateY(-6px)
                       translateX(+50px);
		transform:         translateY(-6px)
                       translateX(+50px);
	}
  76% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0px)
                       translateX(+50px);
		-ms-transform:     translateY(0px)
                       translateX(+50px);
		transform:         translateY(0px)
                       translateX(+50px);
	}
	78% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+50px);
		-ms-transform:     translateY(-3px)
                       translateX(+50px);
		transform:         translateY(-3px)
                       translateX(+50px)
	}
  82% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+50px);
		-ms-transform:     translateY(0)
                       translateX(+50px);
		transform:         translateY(0)
                       translateX(+50px);
	}
  89% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-6px)
                       translateX(+60px);
		-ms-transform:     translateY(-6px)
                       translateX(+60px);
		transform:         translateY(-6px)
                       translateX(+60px);
	}
  91% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		opacity: 1;
		-webkit-transform: translateY(0px)
                       translateX(+60px);
		-ms-transform:     translateY(0px)
                       translateX(+60px);
		transform:         translateY(0px)
                       translateX(+60px);
	}
	92% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(-3px)
                       translateX(+60px);
		-ms-transform:     translateY(-3px)
                       translateX(+60px);
		transform:         translateY(-3px)
                       translateX(+60px)
	}
  96% {
		opacity:  1;
		height:            30px;
		width: 						 auto;
		-webkit-transform: translateY(0)
                       translateX(+60px);
		-ms-transform:     translateY(0)
                       translateX(+60px);
		transform:         translateY(0)
                       translateX(+60px);
	}
  100% {
    opacity: 0;
		height:            30px;
		width: 						 0px;
		-webkit-transform: translateY(0)
                       translateX(+60px);
		-ms-transform:     translateY(0)
                       translateX(+60px);
		transform:         translateY(0)
                       translateX(+60px);
	}
}

.bouncey {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.bouncey:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.bouncey_right img {
	position: relative;
	left: -10px;
	bottom: -10px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.bouncey_right:hover img {
  cursor: pointer;
	animation-delay: 2s;
	-moz-animation-delay: 2s;
  animation-name: bounce_right;
  -moz-animation-name: bounce_right;
}
