{% extends "notenrechner/model_base.html" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th></th>
      <th></th>
      {% for fach, klausuren in klasse.klausurliste.items %}
        {% for klausur in klausuren %}
          <th>{{ klausur.nummer }}. "{{ klausur.titel }}"</th>
        {% endfor %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for schueler in klasse.schueler.all %}
    <tr>
      <td>{{schueler.vorname}}</td>
      <td>{{schueler.nachname}}</td>
      <td><a class="glyphicon" href="{% url 'notenrechner:edit_schueler' schueler.id %}">&#x270f;</a></td>
      <td><a class="glyphicon add_del open-modal" action="{% url 'notenrechner:delete_from_class' klasse.id schueler.id %}">&#xe020;</a></td>
      {% for fach, klausuren in klasse.klausurliste.items %}
        {% for klausur in klausuren %}
          <td>{{ schueler.klausurergebnisse | get:klausur }}</td>
        {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
