{% extends "notenrechner/model_base.html" %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schueler in klasse.schueler.all %}
    <tr>
      <td>{{schueler.vorname}}</td>
      <td>{{schueler.nachname}}</td>
      <td><a class="glyphicon" href="{% url 'notenrechner:edit_schueler' schueler.id %}">&#x270f;</a></td>
      <td><a class="glyphicon add_del open-modal" href="{% url 'notenrechner:delete_schueler' schueler.id %}">&#xe020;</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
