{% extends "base.html" %}

{% load static %}

{% load formset_tags %}

{% block body %}
<section class="header">
  <form action="{{ form_action }}" method=post>
    {% csrf_token %}
    <div class="row">
      <div class="one column"></div>
      <div class="ten columns">
        <a href="{% url 'notenrechner:klasse' klausur.klasse.id %}">
          Klasse {{ klausur.klasse }}, Klausur Nr. {{ klausur.nummer }}
        </a>
        <div class="title">{{ klausur.titel }}</div>
      </div>
      <div class="one column">
        <input type="submit" value="Speichern und Auswerten">
      </div>
    </div>
  <div class="row" id="formset" data-formset-prefix="{{ formset.prefix }}">
      {{ formset.non_form_errors }}
      <table>
        {{ formset.media }}
        <thead>
          <tr>
            <th></th>
            {% for field in form.visible_fields %}
            <th>{{ field.label_tag }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody data-formset-body>
          <tr>
            <td><b>Maximalpunktzahl:</b></td>
            {% for field in form.visible_fields %}
            <td>{{ field }}</td>
            {% endfor %}
          </tr>
        {{ formset.management_form }}
        {% for abgabe in formset.forms %}
          <tr data-formset-form>
            {{ abgabe.non_field_errors }}
            {% for field in abgabe.visible_fields %}
              <td>{{ field }}</td>
            {% endfor %}
            <td><button type="button" class="glyphicon add_del" data-formset-add>&#x002b;</td>
            <td><button type="button" class="glyphicon add_del" data-formset-delete-button>&#x2212;</button></td>
          </tr>
        {% endfor %}
      </tbody>
      <script type="form-template" data-formset-empty-form>
        {% escapescript %}
          <tr data-formset-form>
            {% for field in formset.empty_form.visible_fields %}
              <td>{{ field }}</td>
            {% endfor %}
            <td><button type="button" class="glyphicon add_del" data-formset-add>&#x002b;</td>
            <td><button type="button" class="glyphicon add_del" data-formset-delete-button>&#x2212;</button></td>
          </tr>
        {% endescapescript %}
    </script>
    <script>jQuery(function($) {
        $("#formset").formset({
            animateForms: true
        });
    });</script>
    </table>
  </div>
</form>
</section>
{% endblock %}
