<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Klausur-Management</title>
  <meta name="description" content="Minmale Klausur-Management App.">
  <meta name="author" content="Christian Kuhl">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{% static 'css/raleway.css' %}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type='text/css' href="{% static 'css/normalize.min.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'css/skeleton.min.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'css/custom.css' %}">
  {% block css %}{% endblock %}
  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
  {% block js %}{% endblock %}
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <!-- Navigation
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="{% url 'notenrechner:index' %}">{{app_name}}</a></li>
          {% if not user.is_authenticated %}
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'auth:login' %}">Login</a> {% else %}
            <li class="navbar-item">
              <a class="navbar-link" href="#" data-popover="#moreNavPopover">{{ user.first_name }}</a>
              <div id="moreNavPopover" class="popover">
                <ul class="popover-list">
                  <li class="popover-item">
                    <a class="popover-link" href="{% url 'notenrechner:overview' %}">Übersicht</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="{% url 'notenrechner:klausuren' %}">Klausuren</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="{% url 'notenrechner:klassen' %}">Klassen</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="{% url 'auth:logout' %}">Logout</a>
                  </li>
                </ul>
              </div>
            </li>
            {% endif %}
        </ul>
      </div>
    </nav>
    {% block body %}{% endblock %}
  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
